@import "tool"
@import "unit"

.test
  +test
.test-full
  *
    +test()


.fill-width
  width: 100%

.fill-height
  height: 100%

.relative
  position: relative

.pointer
  cursor: pointer

.default_input
  background-color: #ffffff
  border: 1px solid #cccccc
  border-radius: 3px

.default_input:focus
  border: 1px solid rgba(82, 168, 236, 0.8)
  outline: 0

.default_input[type=number]::-webkit-inner-spin-button
  -webkit-appearance: none

// 特別這樣寫不然vuetify與bootstrap style 會造成衝突
.modal
  .picker--date__header
    .btn
      padding: 0px
    .btn__content
      margin: 0px
      width: 36px !important
      height: 36px !important



.disable-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.ellipsis
  //white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

